.sidebar{
    grid-area: sidebar;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.sidebar ul{
    border-bottom: 3px solid rgba(255, 255, 255, 0.062);
    margin-bottom: 20px;
}

.sidebar li{
    margin-bottom: 20px;
}
.sidebar li a{
    color: rgb(211, 211, 211);
    &.active{
        color: rgb(219, 152, 255);
    }
    
    
}

.underlinks{
    font-size: 1rem;
    
}

.underlinks a{
    color: rgb(136, 136, 136);
    &.active{
        color: rgb(219, 152, 255);
    }
}


